/* <!-- 1340px --> */
@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: #EFF5F5;
    color: #626262;
}

.container {
    max-width: 1340px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.header {
    padding: 15px 0 19px;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 25px;
}

.list__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #626262;
}

.btn {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.5);
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    color: #323232;
    transition: 0.3s;
}

.nav__btn {
    padding: 9px 39px;
}

.btn:hover {
    transform: scale(1.2);
}

.banner {
    background: url(../img/bg.png) no-repeat center/cover;
    height: 100vh;
    position: relative;
}

.banner__wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: #323232;
    max-width: 530px;
}

.loads {
    position: absolute;
    width: 635px;
    height: 100px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #EAEAEA;
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.loads__wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.currens {
    margin: 120px 0 50px;
}

.currens__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forone {
    max-width: 642px;
    width: 100%;
}

.forone__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 32px;
}

.card {
    padding: 15px 32px 15px 15px;
    background: #FFFFFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
    border-radius: 13px;
    display: flex;
    justify-content: flex-start;
    gap: 72px;
    align-items: center;
    position: relative;
    width: 306px;
}

.card::before {
    content: '';
    position: absolute;
    top: 32px;
    left: 110px;
    width: 43px;
    height: 1px;
    background: #626262;
}

.card::after {
    content: '';
    position: absolute;
    bottom: 32px;
    left: 110px;
    width: 43px;
    height: 1px;
    background: #626262;
}

.icon {
    display: flex;
    align-items: center;
    gap: 30px;
}

.forone__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.price__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.price__span {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 7px;
}

.hop {
    margin-bottom: 50px;
}

.hop__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hop__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
}

.hop__p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;

}

.desc__span {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.null {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.null__span {
    margin-left: 30px;
}

.order__btn {
    padding: 9px 60px;
    margin-right: 30px;
}

.order__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #626262;
}

.aksiya {
    margin-bottom: 50px;
}

.aksiya__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 30px;

}

.aksiya__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.aksiya__cartachka {
    max-width: 642px;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
    border-radius: 10px;
    position: relative;
}

.aksiya__hit {
    width: 60px;
    height: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    border-radius: 4px;
    top: -10px;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

.aksiya__opisanie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.opisanie__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

}

.opisanie__p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #323232;

}

.cartachka__btn {
    padding: 9px 67px;
}

.aksiya__cartachka:last-child {
    background: #FFD280;
}


.all {
    margin-top: 30px;
    text-align: center;
}

.all__btn {
    padding: 9px 80px;
}

.apps {
    margin-bottom: 100px;
}

.apps__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 30px;
}

.apps__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.apps__resours {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    background: #97EAB9;
    box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
    border-radius: 10px;
    padding: 25px 116px 0;
    color: #626262;
}

.res__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;

}

.comfort {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.comfort__card {
    padding: 49px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    background: #FFC1BD;
    box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.5);
    border-radius: 10px;
    color: #626262;
}

.card__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

}

.comfort__card:last-child {
    padding: 38px 64px;
    gap: 65px;
    flex-direction: row-reverse;
    background: #C1B7FF;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 32px;
}

.links__apps {
    padding: 27px 85px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
}

.links__apps:last-child {
    padding: 26px 105px;
}

.footer {
    margin-bottom: 25px;
}

.footer__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.footer__h {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}